
.header {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.headersComponents {
    background-color: #FFFFFF;
    height: 60px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.img {*/
/*    padding-left: 30px;*/
/*}*/

.buttons {
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.button {
    background-color: #F4E041 !important;
    width: 100px;
    height: 34px;
    border-radius: 80px !important;
    color: black !important;
}

.button:hover {
    background-color: #FFE302 !important;
}
